* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f3f3f3;
}


header {
    background: #0a3d62;
    color: white;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 26px;
    font-weight: bold;
}

.top-nav a {
    margin-right: 20px;
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.top-nav a:hover {
    text-decoration: underline;
}


.container {
    display: grid;
    grid-template-columns: 18% auto 20%;
    padding: 20px;
    grid-gap: 20px;
}


.sidebar {
    background: white;
    padding: 15px;
    border-radius: 10px;
}

.sidebar ul li {
    padding: 10px 0;
}

.sidebar a {
    text-decoration: none;
    color: #0a3d62;
}


.content h2 {
    margin-bottom: 10px;
}

.news-card {
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.news-card img {
    width: 100%;
    border-radius: 8px;
}

.news-card h3 {
    margin: 10px 0;
}


.right-sidebar {
    background: white;
    padding: 15px;
    border-radius: 10px;
}

.match-box {
    background: #dff9fb;
    padding: 10px;
    margin-bottom: 10px;
    border-left: 5px solid #0a3d62;
}


footer {
    background: #0a3d62;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
